.idea/
__pycache__/
.coverage
.DS_Store
._.DS_Store
*.py[cod]
*.so
*.egg
*.egg-info
dist
build
company_crawler_demo/mpsohu/cookies/
tmp/
req.txt
*.db
.pytest_cache/
*.log
auto_add_white_ip.py
imooc/celery_learning/celery_app/celeryconfig.py
local_debug_config/*
*.xlsx
*.xls
*.out
t00ls_demo
crawler/*.txt
draft_practice/
readlog/
readlog/*
sec_event_mock/*.json
sec_event_mock2/basic/GeoLite2-City.mmdb
localdev/
.venv_py3script/